/* ===============
    Common Style
   ================*/

@font-face {
    font-family: "Helvatica";
    src: url("./fonts/Helvetica.ttf");
}
@font-face {
    font-family: "Avenir";
    src: url("./fonts/AvenirLTStd-Black.otf");
}
*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Avenir";
    background: #E5E5E5;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Helvatica";
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/* ===============
    Header Section
   ================*/

.inner_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.menu_container {
    display: flex;
    align-items: center;
}
.logo_img {
    padding-right: 120px;
}
.menu_ul {
    display: flex;
    align-items: center;
}
.menu_ul li {
    padding-right: 40px;
}
.menu_ul li a{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #212353;
    transition: 0.4s;
}
.menu_ul li a:hover{
    color: #F063B8;
}
.menu_btn {
    max-width: 210px;
    height: 60px;
}
.demo_btn {
    width: 100%;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #212353;
    transition: 0.4s;
    cursor: pointer;
}
.demo_btn:hover{
    background-color: #F063B8;
    color: #FFFFFF;
}
.demo_btn span{
    margin-left: 20px;
    color: #9C69E2;
    font-size: 20px;
}
#menu_toggler{
    display: none;
    border: none;
    outline: none;
    background: none;
}
#menu_toggler span{
    color: #212353;
    font-size: 35px;
}

/* ===============
    Data Storage Section
   ================*/

.inner_data_storage {
    min-height: calc(100vh - 110px);
    background-image: url(./../images/banner-bg.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 130px;
}
.data_storage_content{
    display: inline-block;
}
.data_storage_content h1{
    width: 510px;
    height: 184px;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    color: #212353;
}
.data_storage_content p{
    width: 380px;
    height: 120px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}
.data_storage_btn{
    width: 170px;
    height: 60px;
    background: #9C69E2;
    border: none;
    border-radius: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    transition: 0.4s;
}
.data_storage_btn:hover{
    background-color: #F063B8;
}
.data_storage_img {
    display: inline-block;
    height: 468px;
}
.data_storage_img img{
    height: 100%;
}

/* ===============
    Header Section
   ================*/

.inner_high_level_data {
    display: flex;
    align-items: center;
    background-color: #f063b833;
    background: rgba(240, 99, 184, 0.15);
    border: 1px solid #0000002e;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin-top: 90px;
}
.high_level_data_content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 660px;
}
.high_level_data_content h2 {
    width: 415px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
}
.high_level_data_content p {
    width: 415px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    padding: 30px 0;
}

/* ===============
    Feature Section
   ================*/

#feature {
    margin: 100px 0;
}
.inner_feature {
    text-align: center;
}
.feature_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feature_content h2 {
    width: 405px;
    height: 52px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
}
.feature_content p {
    width: 584px;
    height: 58px;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    margin: 50px 0;
}
.feature_box_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.feature_box_container>*{
    flex: 0 0 50%;
}
.feature_box {
    display: flex;
    align-items: center;
    max-width: 520px;
    height: 390px;
    background-position: bottom right;
    background-repeat: no-repeat;
}
.feature_bg_1{
    background-image: url("./../images/feature-bg-1.png");
}
.feature_bg_2{
    background-image: url("./../images/feature-bg-2.png");
}
.feature_bg_3{
    background-image: url("./../images/feature-bg-3.png");
}
.feature_bg_4{
    background-image: url("./../images/feature-bg-4.png");
}
.feature_box_content {
    text-align: left;
    padding: 0 30px;
}
.feature_box_content h6{
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    color: #212353;
}
.feature_box_content p {
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
    padding: 20px 0;
}
.feature_box_content a {
    color: #212353;
    display: flex;
    align-items: center;
}
.feature_box_content a span{
    color: #9C69E2;
    margin-left: 20px;
}

/* ===============
    Try Free Section
   ================*/

.inner_try_free {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.try_free_content h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
}
.try_free_content p {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}
.try_free_btn_container {
    display: flex;
    align-items: center;
}
.try_free_btn {
    width: 170px;
    height: 60px;
    left: 947px;
    top: 2932px;
    background: #F063B8;
    border-radius: 50px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    margin-right: 30px;
    transition: 0.4s;
}
.try_free_btn:hover{
    background-color: #9C69E2;
}
.free_demo_btn{
    width: 100%;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #212353;
    transition: 0.4s;
    cursor: pointer;
    transition: 0.4s;
}
.free_demo_btn:hover{
    background-color: #F063B8;
    color: #FFFFFF;
}
.free_demo_btn span{
    margin-left: 20px;
    color: #9C69E2;
    font-size: 20px;
}

/* ===============
    Footer Section
   ================*/

.upper_footer_content {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}
address h6 {
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
    margin: 50px 0 27px 0;
}
address p {
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
}
.upper_footer_h6 {
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
}
.upper_footer_ul li a{
    font-weight: normal;
    font-size: 16px;
    line-height: 250%;
    color: #212353;
    margin-top: 35px;
    transition: 0.4s;
}
.upper_footer_ul li a:hover{
    color: #F063B8;
}
.social_icon {
    display: flex;
    padding-top: 30px;
}
.social_icon a {
    padding-right: 15px;
}
.social_icon i {
    width: 50px;
    height: 50px;
    background: #212353;
    opacity: 0.1;
    color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}
.social_icon i:hover{
    background: #F063B8;
}
.lower_footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.lower_footer_container p {
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
}
.lower_footer_icon {
    width: 60px;
    height: 60px;
    background: #9C69E2;
    opacity: 0.2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}
.lower_footer_icon:hover{
    background: #F063B8;
}
.lower_footer_icon span{
    color: #ffffff;
}